<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :name, class: 'control-label col-sm-3' %>
      <div class="col-sm-6">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :age, class: 'control-label col-sm-3' %>
      <div class="col-sm-6">
        <%= f.number_field :age, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="col-sm-12 text-center">
    <%= f.submit '検索', class: 'btn btn-primary' %>
  </div>
</div>
